name: Metrics
on:
  # Update alle 24 Stunden automatisch
  schedule: [{cron: "0 0 * * *"}]
  # Erlaubt dir, den Knopf "Run workflow" manuell zu drücken
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: Exoshiva
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Berlin
          filename: github-metrics.svg
          plugin_isocalendar: yes
          plugin_languages: yes
          plugin_languages_ignored: html, css
